#about {
  width: 100vw;
  display: grid;
  place-items: center;
  padding: 5rem 0;
  /* background: url(../../assets/Desktop\ -\ 9.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -3; */
  /* overflow-x: hidden; */
  /* border: 1px solid pink; */
}
.about__container {
  width: 80%;
  /* border: 2px solid red; */
  padding: 0 5%;
}
.about__top {
  /* border: 2px solid yellow; */
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__top .about__left {
  /* border: 2px solid black; */
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.about__top .about__left h4 {
  /* border: 2px solid green; */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  text-transform: capitalize;
  color: #ffffff;
  text-shadow: 0px 6px 24px rgba(0, 0, 0, 0.25);
}
.about__top .about__left .about__left-paragraphs {
  /* border: 2px solid saddlebrown; */
  width: 98%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.3px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}
.about__portrait {
  border-radius: 9px;
  width: 316px;
  height: 395px;
  transition: var(--transition);
  position: relative;
  /* margin-right: 75px;
  margin-bottom: 20px; */
  margin-right: 75px;
  margin-bottom: 2%;
  z-index: 1;
}
.about__portrait img {
  border-radius: 9px;
}
.about__portrait::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  /* width: 330.11px; */
  width: 316px;
  height: 395px;
  top: 8%;
  left: 12%;
  border: 7.73585px solid var(--primary-color);
  border-radius: 9px;
  z-index: -1;
}
.about__top .about__left .btn {
  /* margin-top: 20px; */
}

/* my skills */
.about__bottom {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  /* border: 2px solid blue; */
}
.about__bottom h4 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  text-transform: capitalize;
  color: #ffffff;
  text-shadow: 0px 6px 24px rgba(0, 0, 0, 0.25);
}

/* media queries for tablet screens */
@media screen and (max-width: 1024px) {
  .about__top {
    /* border: 2px solid gold; */
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  .about__top .about__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    /* height: 90%; */
  }
  .about__top .about__left .about__left-paragraphs {
    /* border: 2px solid saddlebrown; */
    width: 90%;
    gap: 1rem;
  }
}

/* media queries for mobile screens */
@media screen and (max-width: 600px) {
  .about__container {
    width: 95%;
    /* border: 2px solid red; */
    padding: 0 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .about__top {
    /* border: 2px solid darkblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
  }

  .about__top .about__left {
    /* border: 2px solid pink; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%;
    height: 100%; */
  }

  .about__top .about__left .about__left-paragraphs {
    /* border: 2px solid grey; */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
  }
  .about__portrait {
    border-radius: 9px;
    width: 230px;
    height: 325px;
    transition: var(--transition);
    position: relative;
    margin-right: 0%;
    margin-bottom: 0%;
  }
  .about__portrait::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 240.11px;
    height: 325.09px;
    top: 8%;
    left: 12%;
    border: 7.73585px solid var(--primary-color);
    border-radius: 9px;
    z-index: -1;
  }
  .about__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
  }
  .about__bottom h4 {
    width: 300px;
  }
}
